<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/stylef.css" type="text/css">
</head>
<body>
    <main>
        <form> 
        <label for="Nombre de usuari@">  </label>
        <input type="text" value="Nombre de usuari@" placeholder= "Nombre de usuari@">
        <label for="password"> password </label>
        <input type="password" value="password" placeholde= "password">
        <buttom type="submit">Ingresar</buttom>
    </form>

    </main>
    
</body>
</html>