<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/stylef.css" type="text/css">

</head>

<body>
    <header>

    </header>
    <main>
        <form>
            <div> <label for="nombre"> </label></div>
            <div> <input type="text" name="nombres" placeholder="Nombre y apellido"></div>
            <div> <label for="usuario"> </label></div>
            <div> <input type="text" placeholder="Nombre de usuari@" name="usuario"></div>
            <div> <label for="email"> </label></div>
            <div> <input type="email" placeholder="email" name="email"></div>

            <h3> <label for="fecha">Fecha de nacimiento </label> </h3>
            <div> <input type="date" placeholder="Fecha de nacimiento" name="fecha"></div>

            <h3><label for="text">Perfil del usuario </label></h3>
            <div> <label><input type="radio" name="Perfil del usuario" value="vender"> verder </input></label></div>
            <div> <label><input type="radio" name="Perfil del usuario" value="comprar"> comprar </input></label></div>


            <div>
                <h3> Intereses </h3>
            </div>
            <div> <label for="text">Electro </label></div>
            <div> <input type="checkbox" value="Electro" name="Electro"></div>
            <div> <label for="text">Moda </label></div>
            <div> <input type="checkbox" value="Moda" name="Moda"></div>
            <div> <label for="text">Hogar </label></div>
            <div> <input type="checkbox" value="Hogar" name="Hogar"></div>
            <div> <label for="text">Juguetería </label></div>
            <div> <input type="checkbox" value="Juguetería" name="Juguetería"></div>
            <div> <label for="text">Vida sana </label></div>
            <div> <input type="checkbox" value="Vida sana" name="Vida sana"></div>
            <div> <input type="checkbox" value="Vida sana" name="Vida sana"></div>

            </div>

            <button type="submit"> Crear una cuenta </button>
        </form>
    </main>

</body>

</html>